@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$background: #181818;
//$background-secondary: rgb(28, 28, 28, 0.8);
$background-secondary: hsl(0,0%, 12%);
$primary-color: #6F49DD;
$text-color: #FFFFFF;

body {
   background-color: $background;
   color: $text-color;
   font-family: 'Poppins', sans-serif;
   margin: 0;
}

ul li {
   list-style-type: none;
}

/* ===HUB===*/
.Hub {
   margin: auto;
   padding: 0 calc(3.5vw + 25px);
}

/* ===NAVIGATION=== */
.Navigation {
   position: sticky;
   top: 0;
   height: auto;
   min-width: 320px;
   z-index: 1000;
   background-color: $background-secondary;
   
   nav {
      height: auto;
      display: flex;
      justify-content: space-between;
      font-size: 15px;
      padding: 0 calc(3.5vw + 25px);
      border-bottom: 1px solid rgba(255, 255, 255, 0.03);
   }

   &__logo {
      display: inline-block;
      vertical-align: middle;

      > img, > p {
         display: inline-block;
         vertical-align: middle;
      }
      
      > img { 
         width: 40px;
         height: 40px;
      }

      > p {
         margin-left: 10px
      }
   }

   &__links {
      display: inline-block;
      vertical-align: middle;
      margin-left: 60px;
      
      a {
         color: #FFFFFF;
         text-decoration: none;
         cursor: pointer;

         &:nth-child(n + 2) {
            margin-left: 30px;
         }

         &:hover {
            border-bottom: 1px solid #FFFFFF;
         }
      }
   }

   &__profile {
      > img, > p {
         display: inline-block;
         vertical-align: middle;
         cursor: pointer;
      }

      > img {
         width: 40px;
         height: 40px;
         border-radius: 100%;
      }

      > p {
         margin-right: 20px;
      }
   }

   &__button {
      margin-top: 10px;
      padding: 10px 15px;
      border: none;
      display: inline-block;
      vertical-align: middle;
   }
}

/* ===FEATURED=== */
.Featured {
   margin-top: 30px;
   position: relative;

   &__image {
      width: 100%;
      height: 100%;
      z-index: -1;
      position: absolute;

      img {
         width: 100%;
         height: 650px;
         object-fit: cover;
         border-radius: 5px;
      }
   }

   &__overlay {
      height: 30vw;
      min-height: 170px;
      width: 100%;
      margin-left: 50px;
      padding-top: 150px;

      img {
         width: 25vw;
         min-width: 300px;
         max-width: 400px;
      }
   }
}

/* ===SLIDER=== */
.Slider {
   --list-items: 5;
   --list-items-margin: 0px;
   box-sizing: border-box;

   &__list {
      display: flex;
      margin: 0;
      padding: 0;
   
      &--item {
         display: inline-block;
         width: calc(100%/ var(--list-items) - var(--list-items-margin));
         margin-left: calc(var(--list-items-margin) / 2);
         margin-right: calc(var(--list-items-margin) / 2);

         &:not(:last-child) {
            margin-right: 5px;
         }

      }
   }
}

/* ===ALLMOVIES === */
.Movies {
   box-sizing: border-box;

   &__list {
      width: 350px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;

      &--item {
         display: inline-block;
         margin: 0;
         margin-bottom: 20px;
      }
   }
}

/* ===MOVIECARD=== */
.MovieCard {  

   &__thumbnail {
      padding: 0;
      border-radius: 5px;
         
      button {
         background-color: transparent;
         padding: 0;
         border: 0;
         cursor: pointer;
      }

      img {
         width: 100%;
         height: 200px;
         cursor: pointer;
         border-radius: 5px;
      }
   }

   &__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 0;

      div {
         font-size: 13px;
         display: flex;
         text-overflow: nowrap;

         img {
            width: 20px;
            margin-left: 5px;
            margin-top: 0;
         }

         p {
            margin: 0;
         }
      }

      :nth-child(2) {
         margin-left: 5px;
      }
   }
}

/* ===BUTTON=== */
.Button {
   &__primary, &__secondary {
      padding: 13px 23px;
      border-radius: 5px;
      font-size: 0.9em;
      cursor: pointer;
   }

   &__primary {
      background-color: #FFFFFF;
      border: none;
      color: #333333;
      margin-right: 12px;
   }

   &__secondary {
      background-color: transparent;
      border: 1px solid #FFFFFF;
      color: #FFFFFF;
   }
}

/* ===COMMENT FORM=== */
.Form {
   &__comment {
      form {
         label {
            display: block;
         }

         textarea {
            display: inline-block;
            vertical-align: middle;
            border: none;
            padding: 10px 5px;
            width: 500px;
            background: none;
            border-bottom: 1px solid #FFFFFF;
            color: #FFFFFF;
         }

         button {
            display: inline-block;
            vertical-align: middle;
            padding: 10px 15px;
            border: none;
            margin-left: 10px;
            background: #6F49DD;
            color: #FFFFFF;
         }

      }
   }

   &__newmovie {
      display: block;
      margin: 0 auto;
      width: 50%;
      padding: 20px 50px;

      div {
         display: flex;
         justify-content: space-between;

         input, textarea {
            border: none;
            width: 200px;
            padding: 5px 10px;
            margin-top: 10px;
         }

         .checkbox {
            width: 10px;

            &__label {
               font-size: 14px;
            }
         }
      }

      button {
         display: inline-block;
         vertical-align: middle;
         padding: 10px 15px;
         border: none;
         margin-top: 20px;
         background: #6F49DD;
         color: #FFFFFF;
         cursor: pointer;
      }
   }
}

.Showtime {

   &__genre {
      h3 {
         font-weight: 400;
         font-size: 15px;
         margin: 0;
         padding: 0;
      }

      &--item {
         display: inline-block;
         margin-right: 10px;

         p {
            margin: 0;
            font-size: 14px;
         }
      }
   }

   &__stats {   
      &--like, &--dislike {
         display: inline-block;
      
         img, p {
            display: inline-block;
         }

         img {
            cursor: pointer;
         }
         
         p {
            margin-left: 10px;
         }
      }

      &--dislike {
         margin-left: 20px;
      }
   }

   &__delete {
      button {
         padding: 10px 15px;
         background-color: #6F49DD;
         color: #FFF;
         border: none;
         border-radius: 5px;
         margin-bottom: 10px;
         cursor: pointer;
      }
   }
}

.Comment {
   border-top: 1px solid #333333;
   margin-top: 50px;

   &__title {
      font-size: 15px;
   }

   &__comments {

      div {
         .Comments__wrapper {
            margin-bottom: 20px;
            img, div {
               display: inline-block;
               vertical-align: middle;
            }

            img {
               width: 50px;
               border-radius: 100%;
               margin-right: 20px;
            }

            div {
               p {
                  margin: 0;
            
                  &:first-child {
                     color: #999999; 
                     font-size: 16px;
                  }

                  font-size: 14px;
               }

            
            }
         }
      }
   }
}

/* ===VIDEO=== */
video {
   width: 100%;
   margin-top: 30px;
   border-radius: 5px;
}

/* ===COLLECTION=== */
.Collection {
   margin-top: -25px;
   margin-bottom: 50px;
   &__search {
      margin-top: 25px;
      margin-bottom: 25px;

      input {
         width: 70%;
         padding: 20px 30px;
         background: #161616;
         border: none;
         border-bottom: 1px solid #333333;
         color: #999999;
         font-weight: 600;
         border-radius: 5px;
         font-size: 18px;
      }

      input:focus {
         outline: none;
         border-bottom: 1px solid #6F49DD;
      }

      button {
         padding: 20px 30px;
         border-radius: 5px;
         border: none;
         margin-left: 20px;
         background-color: #6F49DD;
         color: #FFF;
      }
   }
}

.Settings {
   position: absolute;
   background-color: #2b2b2b;
   border-radius: 5px;

   ul {
      padding: 20px 20px;
      margin: 0;

      li {
         font-size: 15px;
         cursor: pointer;
      }
   }
}